@tailwind base;
@tailwind components;
@tailwind utilities;

/* Basic custom styles */
body { background: linear-gradient(180deg,#fff7fb 0%, #fff 100%); }
.container { max-width: 900px; margin-left: auto; margin-right: auto; }
